@model MVCIdeaton07._10._2017.Models.ComplainModel

@{
    ViewBag.Title = "Index";
}

@using (Html.BeginForm("Index", "Home", FormMethod.Post))
{
    <p>ID</p> @Html.TextBoxFor(m => m.ID);<br />
    <p>Title</p> @Html.TextBoxFor(m => m.Title);<br />
    <p>Desc</p> @Html.TextBoxFor(m => m.Description);<br />
    <p>Add</p> @Html.TextBoxFor(m => m.Address);<br />
    <p>Num</p> @Html.TextBoxFor(m => m.Number);<br />
    <p>Email</p> @Html.TextBoxFor(m => m.Email);<br />
    <input type="submit" value="submit" />
}


<h2>Index</h2>

